<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Photo</th>
    <th>Facebook Info</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= image_tag user.photo_url %></td>
      <td><%= user.facebook_keys[0].info %></td>
    <tr>
  <% end %>
</table>