<%= image_tag 'keith_stone.jpg', :class => 'pull-right' %>
<h2>Keith Stone</h2>
<p>
   Hi, I created, coded and otherwise maintain callmeif.it.<br>
   This started in 2012 when I couldn't figure out what day to take off to go skiing.<br>
   I enjoy trying to fix real problems and this is something I put together for myself first.<br>
   <br>
   I hope you like it.
</p>
<p>
  <%= link_to 'Linked in', 'http://www.linkedin.com/pub/keith-stone/35/488/4b3' %>
</p>