<div class="jumbotron">
  <h1>Call Me If.It</h1>
  <p class="lead">Real time alerts of real time events. We call or text you when it happens.</p>
  <a class="btn btn-large btn-success" href="/auth/facebook">Get started today</a>
</div>
<div class="row-fluid">
  <div class="span4">
    <h2>Simple</h2>
    <p>Just sign in and register your phone with us. Pick a ski resort you want to be on alert for and a snowfall threashold. When its a powder day, we will alert you to get you up and on your way.</p>
    <p><%= link_to 'View details »', ski_resorts_path, class: 'btn' %></p>
  </div>
  <div class="span4">
    <h2>Free</h2>
    <p>All it costs is a facebook sign in. Be the first to know if you need to call in sick or skip class. Never miss a powder day again.</p>
    <p><%= link_to 'View details »', ski_resorts_path, class: 'btn' %></p>
  </div>
  <div class="span4">
    <h2>(425) 409-6178</h2>
    <p>All communications comes from the same phone number so you can add call me if it as a contact and gain even greater control over your notifications.</p>
    <p><%= link_to 'View details »', ski_resorts_path, class: 'btn' %></p>
  </div>
</div>